#demo {
    width: 100px;
    height: 100px;
    background: blue;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px yellow, 5px 5px 5px 5px red;
    margin: 5px;
}

#box {
    width: 200px;
    height: 200px;
    background: blue;
    border: 2px solid red;
    /* transform:translate(10px,30px) */
    /* transform: skewX(30deg); */
    transform: rotate(30deg);
}

#circle {
    width: 50px;
    height: 50px;
    background: red;
    border: 5px greenyellow solid;
    border-radius: 100%;
    transform: translate(35px, 35px);
}

#circle:hover {
    scale: 2;
}

#text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    background: blue;
    border: 2px solid red;
    text-align: center;
    color: white;
    margin: 5px;
}

#text:hover {
    overflow: visible;
    white-space: normal;
    text-transform: capitalize;
}

#icon {
    display: none;
    width: auto;
    height: auto;
}

#icon-div {
    display: flex;
    width: 350px;
    height: 50px;
    background: blue;
    border: 2px solid red;
    text-align: center;
    align-items: center;
    color: white;
    margin: 5px;
}

#icon-div:hover #icon {
    display: block;
}

#anim {
    width: 100px;
    height: 100px;
    background: blue;
    border: 2px solid red;
    transition: 0.8s;
}

#anim:hover{
    translate: 100px;
    transition: 0.8s;
}
#slider-container{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.anim-box{
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.8s;
    margin-right: 5px;
}
.anim-box:hover{
    scale: 1.2;
    transition: 0.8s
}
#slider-container:hover .anim-box{
    animation: caurosal 3s linear infinite;
}
@keyframes caurosal{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}