body {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

hr {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

details{
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.profile-info h1 {
    margin: 0;
    margin-bottom: 5px;
}
