html,
body {
    position: relative;
    height: 100dvh;
    margin: 0;
}

body {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    height: 100dvh;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.main-container {
    display: flex;
    border-radius: 1rem;
    /* margin: 0.5rem;
    padding: 0.5rem;
    background-color: black; */
}

.play-area {
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 80%;
}

.player {
    flex: 60%;
    background-color: #E97CBB;
}

.computer {
    flex: 40%;
    background-color: #E97CBB;
    /* background-color: #add8e6; */
}

.title-area {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 10%;
}

.empty {
    flex: 10%;
}

.player-title {
    flex: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-container {
    flex: 10%;
    display: grid;
    justify-content: center;
}

.player-status {
    background-color: blue;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    visibility: visible;
}

.input-btn {
    display: flex;
    flex-direction: column;
    width: 50;
    padding: 1rem;
}

.input-btn button {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: wheat;
    font-weight: bold;
    cursor: pointer;
}

.options {
    flex: 60%;
}

.option-image {
    flex: 40%;
    display: grid;
    justify-content: center;
}

#player-option-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25%;
}

.options-area {
    display: flex;
    flex: 80%;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.result-area {
    flex: 10%;
    width: 90%;
    background-color: wheat;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.choice {
    align-self: center;
}

.score {
    align-self: center;
}

#computer-choice-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#computer-option-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25%;
}

#computer-title {
    position: relative;
}

#computer-title-area {
    flex-direction: row-reverse;
}

#computer-status {
    visibility: hidden;
}

.final-results {
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: red;
}

#player-option-image,
#computer-option-image {
    max-width: 300px;
    max-height: 400px;
}

span {
    font-size: 1.5rem;
    font-weight: bold;
}

button:hover {
    background-color: #56ccf2;
    color: white;
    transition: 0.5s;
}

button:active {
    background-color: #2f80ed;
    color: white;
    transition: 0.5s;
}

/* Media query for medium-sized screens and below */
@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
        max-height: max-content;
        max-width: max-content;
    }

    .player,
    .computer {
        flex: 50%;
    }

    #computer-title-area {
        flex-direction: row;
    }
}